.sobre {
  min-height: 100vh;
  background-image: url("../../overlay.svg");
  background-position: center;
  background-size: cover;

  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;

  justify-content: center;
  padding: 0px 0px;

  /* margin-top: 150px; */
  color: #fff;
}

.sobre > .titulo {
  /* margin-top: 100px; */
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 1.6rem;
}

.sobre > .textos {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin-top: 50px; */
  padding: 25px;
  /* margin-bottom: 150px; */
}

.sobre > .textos > p > strong {
  font-size: 1.4rem;
}

.sobre > .textos > p {
  margin-top: 50px;
  font-size: 1.2rem;
}
