.portfolio {
    /* background-color: #282c34; */
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: #fff;
    /* color: white; */

    padding-bottom: 50px;
  
    flex-wrap: wrap;

    background: rgb(55,84,90);
    background: linear-gradient(337deg, rgba(55,84,90,1) 0%, rgba(55,84,90,1) 48%, rgba(16,24,25,1) 85%);
}

.portfolio > .titulo {
    padding: 20px;
    text-align: center;
}

.portfolio > .titulo > h2 {
    margin-bottom: 15px;
    font-size: 1.6rem;

}

.projetos {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}